@charset "utf-8";
.map{
	width: 70%;
	float: left;
	border: 1px solid green;
}
.statdiv {
	width: 29%;
	max-height: 40%;
	float: right;
	overflow: auto;
}

.statdiv div{
	overflow: auto;
}

#nametablediv{
	max-height: 30%;
} 

#nametable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;    
    border-collapse: collapse;
}

#nametable td, #nametable th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

.tableheader{
	font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
    width: 100%;
}

#nsselect{
	width: 100%;
}

#nametable th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#nametable tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


/* */
#attribtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}


#attribtable td, #attribtable th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#attribtable th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#attribtable tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}